RewriteEngine On

# Jika request bukan file atau folder yang benar-benar ada,
# arahkan semua request ke index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
